{% extends "auctions/layout.html" %}

{% block body %}
    <section class="wrapper">
        <div class="inner"> 
            <header class="special">
                <h1>Active Listings</h1>
            </header>
            <div class="highlights">
                {% for listing in listing_pages %}
                    <section>
                        <div class="content">
                            <header>
                                <img src="{{ listing.image }}"  width="200" height="150">
                                <h3>
                                    <a href='{% url "view_listing" listing.id %}'> {{listing.name}}</a>
                                </h3>
                                <p>by {{listing.user}}</p>
                            </header>
                            <p>{{listing.description}}</p>
                            {% if listing.bids.last %}
                                <p> last bid - {{listing.bids.last}} </p>
                            {% else %}
                                <p> starting price - $ {{listing.price}} </p>
                            {% endif %}
                        </div>
                    </section>     
                {% endfor %}
            </div>
        </div> 
    </section>
{% endblock %}