{% extends 'auctions/layout.html' %}

{% block title %} Categories {% endblock %}

{% block body %}
<section class="wrapper">
    <div class="inner"> 
        <header class="special">
            <h1>Categories</h1>
        </header>
        <div class="content">
            {% if list_categories %}
                {% for c  in list_categories %}
                    <a href='{% url "view_category" c.id %}'><p>{{c.name}}</p></a>
                {% endfor %}
            {% else %}
                <p>No categories yet</p>
            {% endif %}
        </div>
{% endblock %}